---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="main">
    <section>
      <ul>
        <li>
          <a href="/animations/smooth-parallax-scroll"
            >Effect (01) — Smooth Parallax Scroll</a
          >
        </li>
        <li>
          <a href="/animations/smooth-section-parallax"
            >Effect (02) — Smooth Section Parallax</a
          >
        </li>
        <li>
          <a href="/animations/layering-scroll"
            >Effect (03) — Layering Scroll Section</a
          >
        </li>
        <li>
          <a href="/animations/intro-three">Effect (04) — Intro Three.js</a>
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
