---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="main">
    <section>
      <ul>
        <li>
          <a href="/animations/smooth-parallax-scroll"
            >Effect (01) — Smooth Parallax Scroll</a>
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>
