---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div id="three-container" class="-z-10"></div>

  <main
    class="relative z-10 min-h-screen flex items-center justify-center bg-neutral-200"
  >
    <h1 class="text-4xl font-bold text-white mix-blend-difference">
      Three.js + Astro
    </h1>
  </main>
</BaseLayout>
